<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2afef9cfdb.js" crossorigin="anonymous"></script>

    <title>Usuario</title>
</head>

<body>
    <div class="">
        <div class="shadow">
            <div class="max-w-7xl mx-auto flex space-x-8 p-4 items-center">
                <a href="/index.html">
                    <span class="sr-only">Biblioteca</span>
                    <img alt="Workflow" class="h-8 w-auto sm:h-10"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
                </a>
                <a class="font-medium text-gray-500 hover:text-gray-900">Usuario</a>

                <a id="label-usuario"
                    class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">Dereck</a>
                <a href="/src/view/usuario.html"
                    class="font-medium text-indigo-600 hover:text-indigo-600 justify-self-end cursor-pointer">Libros
                </a>
                <a href="/src/view/libros.html"
                    class="font-medium text-indigo-600 hover:text-indigo-600 justify-self-end cursor-pointer">Mis libros
                </a>
                <a href="/src/view/autores.html"
                    class="font-medium text-indigo-600 hover:text-indigo-600 justify-self-end cursor-pointer">Autores
                </a>

                <button id="btn-logout"
                    class="font-medium text-red-600 hover:text-red-500 justify-self-end cursor-pointer">Logout </button>
            </div>
        </div>
        <div class="max-w-7xl mx-auto px-8">
            <div class="my-6">
                <h1 class="text-xl font-sembibold">Comprar libro</h1>
            </div>
            <div class="flex">
                <button id="btn-ascendente"
                    class="group relative w-64 flex justify-center mr-4 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Ordenar ascendente</button>

                <button id="btn-descendente"
                    class="group relative w-64 flex justify-center mr-4 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Ordenar descendente</button>
            </div>
            <div id="content-algoritmo" class="">
            </div>
            <div id="content-libros" class="grid grid-cols-4 space-r-6">
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../js/usuario.js"></script>
</body>

</html>